<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE xml>
<Configuration status="DEBUG">
	<Appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout
				pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} %x - %msg%n" />
		</Console>
		<File name="MyFile" fileName="/tmp/validator.log" append="false">
			<PatternLayout
				pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} %x - %msg%n" />
		</File>
	</Appenders>

	<Loggers>

		<Logger name="org.springframework.web" level="DEBUG" />
		<Logger name="org.springframework.beans.factory.config" level="DEBUG" />
		<Logger name="org.springframework.jdbc.core" level="TRACE" />
		<Logger name="com.virtyx" level="TRACE" />

		<Root level="TRACE">
			<AppenderRef ref="Console" />
			<AppenderRef ref="MyFile" />
		</Root>

	</Loggers>
</Configuration>
